@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* nav styles  */
.open-sans-uniquifier {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.primary__color {
  color: #fd6e0a;
}
.dark-2 {
  color: #474747;
}
.nav-title {
  font-weight: 800;
  font-size: 45px;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 200px;
}
.nav-header ul {
  display: flex;
  gap: 50px;
  align-items: center;
}
.nav-header ul li {
  list-style: none;
}
.nav-header li a {
  text-decoration: none;
}
.btn-primary {
  background-color: #fd6e0a;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 18px 36px;
  border: none;
  border-radius: 10px;
}

/* nav section ends from here  */
/* header  */
.header {
  background-image: url(../images/developer.png), url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: top left, right bottom;
}
/* banner section start from here  */
.banner {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 0 35px 0 230px;
}
.banner__greetings {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.4rem;
}
.banner__title {
  font-size: 80px;
  font-weight: bold;
  line-height: 1.4rem;
}
.banner__desc {
  font-size: 15px;
  line-height: 2rem;
}

.banner__profile__pic {
  width: 580px;
}

/* main styles  */
main {
  max-width: 1140px;
  margin: 0 auto;
}
main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
/* shared styles  */

.about_me {
  padding: 130px 156px;
}
.section-title {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-para {
  font-size: 15px;
  color: #757575;
}
.secondary-color {
  background-color: #fff8f3;
}
.text-center {
  text-align: center;
}
/* about me section start from here */

.about_me {
  border-radius: 10px;
  text-align: center;
  padding: 155px 142px 157px 120px;
  margin-top: 130px;
}
.avout-item-title {
  font-size: 18px;
  color: #757575;
}
.about-items {
  display: flex;
  justify-content: space-around;
}
.about-me-div {
  background-color: white;
  border: 1px solid black;
}
/* about me section ends from here */

/* section what i do start from here  */
.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill .section-title {
  font-size: 17px;
  font-weight: bold;
}
/* section what i do ends from here  */

/* resume start from here  */
.resume-column-container {
  display: flex;
  gap: 24px;
  align-items: center;
}
.resume-column {
  width: 50%;
}
.resume .section-title {
  margin-bottom: 113px;
  font-size: 33px;
  color: #181818;
}
.resume-column-title,
.experience-title {
  color: #474747;
}
.experience-des,
.experience-subtitle {
  color: #757575;
}
.resume-column-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0px;
}
.experience-title {
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 30px;
}
.experience-subtitle {
  font-size: 17px;
  font-weight: 550;
  margin-top: 0px;
}
.experience-des {
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 2rem;
}
footer {
  padding: 130px 230px;
}
footer .footer-column-container {
  display: flex;
  gap: 117px;
}
.footer-column {
  width: 50%;
}
.footer-column .section-title {
  margin-bottom: 20px;
}
.footer-column .section-para {
  margin-bottom: 30px;
}
footer .icon-container a {
  margin-right: 1rem;
}
footer input[type="text"],
input[type="email"],
input[type="textarea"] {
  display: block;
  height: 64px;
  width: 100%;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  padding: 10px 30px;
  color: green;
}
